{% extends "commondata/pageTemplate.html" %}

{% block menu %}

<a class="menuLink" href="{% url 'index' %}">Home page</a> | <a href="{% url 'add_form' %}" class="menuLink">Add Post</a>

{% if viewFullData and posts %}
| <a class="menuLink" href="{% url 'delete_post' posts.0.id %}">Delete Post</a>
{% endif  %}

<hr>
{% endblock %}

{% block content %}

{% if not posts %}
<p>
	No post. Click on ADD POST to add new post
</p>
{% endif %}

{% for post in posts %}

<div class="post">
	<div class="postTitle">
		<a href="{% url 'post' post.id %}">{{ post.title }}</a>
	</div>
	<div class="postDate">
		{{ post.creationDate }}
	</div>
	<div class="postBody">
		{{ post.body }}
	</div>
	<div class="postTags">

		{% if post.tag_set.count > 0 %}
		<span class="monospaceFont"> Tags: </span>
		{% endif %}

		{% for tag in post.tag_set.all %}
		{% if not forloop.first %}, {% endif %}

		<a class="monospaceFont" href="{% url 'tag' tag.id %}">{{ tag.name }}</a>

		{% endfor %}

		{% if viewFullData %}

		<hr/>

		<div class="comment">
			<p  class="monospaceFont" >
				Comments:
			</p>

			{% for comment in post.comment_set.all %}

			<p class="monospaceFont">
				{{comment.creationDate}}
			</p>

			<p class="comment">
				{{comment.comment}}
			</p>
			{% endfor %}

		</div>
		<div>
			<form action="{% url 'insert_comment' post.id %}" method="post">
				{% csrf_token %}
				<table id="commentForm">
					{{ form.as_table }}
				</table>
				<input type="submit" value="Submit" />
			</form>
		</div>

		{% else %}
		<p class="monospaceFont">
			Comments: {{ post.comment_set.count }}
		</p>
		{% endif %}

	</div>

</div>

{% endfor %}

{% endblock %}
